<header class="bg-white shadow">
  <section class="container mx-auto px-4 py-2 md:py-3">
    <section class="flex justify-between items-center">
      <div class="flex gap-2 items-center justify-between text-lg font-bold md:text-xl">
        <img class="h-5" src="assets/logo.png" alt="logomarca de um livro vermelho" />
        <h1>Twitter</h1>
      </div>

      <div class="relative">
        <div class="w-10 h-10 cursor-pointer bg-blue-200 text-blue-600 flex items-center justify-center rounded-full">A</div>
      </div>
    </section>
  </section>
</header>
