<header class="bg-white shadow">
  <section class="container mx-auto px-4 py-2 md:py-3">
    <section class="flex justify-between items-center">
      <div
        class="flex gap-2 items-center justify-between text-lg font-bold md:text-xl"
      >
        <img
          class="h-5"
          src="assets/logo.png"
          alt="logomarca de um livro vermelho"
        />
        <h1>Thinkker</h1>
      </div>

      <div *ngIf="userName" class="relative flex items-center">
        <button
          type="button"
          class="inline bg-transparent px-7 text-sm font-medium uppercase leading-normal hover:underline transition-all duration-300 ease-in-out"
          (click)="onLogout()"
          >
          Sair
        </button>

        <app-avatar [iconUser]="userName" />
      </div>
    </section>
  </section>
</header>
